.navbar {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 38, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-size: x-large;
    top: 0;
    text-align: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-size: x-large;
    /* gap: 400px; */
}

.nav-logo {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: white;
    transition: 0.3s all;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 40px;
        left: 0;
        background-color: #1197a1;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    }

    .nav-menu.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .nav-item {
        margin: 10px 0;
    }
}